<div id="theme-wrapper">
    <ng-include src="'views/component/navbar/header.html'"></ng-include>
    <div id="page-wrapper" class="container">
        <div class="row">
            <ng-include src="'views/component/navbar/nav_col.html'"></ng-include>
            <div id="content-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <!--面包屑导航-->
                        <ol class="breadcrumb" style="margin-bottom: 10px">
                            <li><a href="#/main">主页</a></li>
                            <li>{{meauName}}</li>
                            <li>{{submeau.name}}</li>
                            <!--<li class="active"><span>{{currentTab.name}}</span></li>-->
                        </ol>
                        <ng-include src="'views/component/page/'+ submeau.page +'.html'"></ng-include>
                    </div>
                </div>
                <footer id="footer-bar" class="row" style="opacity: 1;">
                    <p id="footer-copyright" class="col-xs-12">
                        © 2014 <a href="http://www.adbee.sk/" target="_blank">Adbee digital</a>. Powered by Centaurus
                        Theme.
                    </p>
                </footer>
            </div>
        </div>
    </div>
</div>