<body id="login-page" ng-controller="LoginCtrl">
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div id="login-box">
                <div id="login-box-holder">
                    <div class="row">
                        <div class="col-xs-12">
                            <header id="login-header">
                                <div id="login-logo">
                                    <img src="images/logo.png" alt=""/>
                                </div>
                            </header>
                            <div id="login-box-inner">
                                <form role="form" name="loginForm" novalidate ng-submit="login(credential)">
                                    <div class="form-group"
                                         ng-class="{'has-error':loginForm.username.$invalid&&loginForm.username.$dirty}">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                            <input class="form-control" ng-model="credential.username" required
                                                   name="username" type="text" placeholder="用户名">
                                        </div>
                                        <span ng-show="loginForm.username.$invalid&&loginForm.username.$dirty"
                                              class="help-block"><i class="fa fa-warning"></i>请输入用户名</span>
                                    </div>
                                    <div class="form-group"
                                         ng-class="{'has-error':loginForm.password.$invalid&&loginForm.password.$dirty}">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                            <input type="password" ng-model="credential.password" required
                                                   name="password" class="form-control" placeholder="密码">
                                        </div>
                                        <span ng-show="loginForm.password.$invalid&&loginForm.password.$dirty"
                                              class="help-block"><i class="fa fa-warning"></i>请输入密码</span>
                                    </div>
                                    <div id="remember-me-wrapper">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="checkbox-nice">
                                                    <input type="checkbox" id="remember-me" checked="checked"/>
                                                    <label for="remember-me">
                                                        Remember me
                                                    </label>
                                                </div>
                                            </div>
                                            <a href="#/forgot-password" id="login-forget-link" class="col-xs-6">
                                                Forgot password?
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <button type="submit" class="btn btn-success col-xs-12">登陆</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
