<div class="row">
    <div class="col-lg-4">
        <div class="main-box">
            <header class="main-box-header clearfix">
                <h2>业主信息</h2>
            </header>
            <div class="main-box-body clearfix">
                <form role="form">
                    <div class="form-group">
                        <label for="examplePrepend">用户编号</label>
                        <div class="input-group">
                            <span class="input-group-addon">No.</span>
                            <input type="text" class="form-control" id="examplePrepend">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleAppend">用户姓名</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="exampleAppend">
                            <span class="input-group-addon">.00</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleAppPre">所属部门</label>

                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input type="text" class="form-control" id="exampleAppPre">
                            <span class="input-group-addon">.00</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exmaplePrependCheck">用户性别</label>

                        <div class="input-group">
                            <span class="input-group-addon">
                            <input type="checkbox">
                            </span>
                            <input type="text" class="form-control" id="exmaplePrependCheck">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleRadio">手机号码</label>

                        <div class="input-group">
                            <span class="input-group-addon">
                            <input type="radio">
                            </span>
                            <input type="text" class="form-control" id="exampleRadio">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exmaplePrependButton">家庭住址</label>

                        <div class="input-group">
                            <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">Go!</button>
                            </span>
                            <input type="text" class="form-control" id="exmaplePrependButton">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="examplePrependDropdown">导入已录入资料的车主</label>

                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                    Action <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                            <input type="text" class="form-control" id="examplePrependDropdown">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="main-box">
            <header class="main-box-header clearfix">
                <h2>车辆信息</h2>
            </header>
            <div class="main-box-body clearfix">
                <form role="form">
                    <div class="form-group">
                        <label for="examplePrepend">车型</label>

                        <div class="input-group">
                            <span class="input-group-addon">@</span>
                            <input type="text" class="form-control" id="examplePrepend" placeholder="prepend text here">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleAppend">车位号</label>

                        <div class="input-group">
                            <input type="text" class="form-control" id="exampleAppend">
                            <span class="input-group-addon">.00</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleAppPre">车颜色</label>

                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input type="text" class="form-control" id="exampleAppPre">
                            <span class="input-group-addon">.00</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exmaplePrependCheck">备注</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="exampleRadio">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exmaplePrependButton">车牌号</label>

                        <div class="input-group">
                            <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">录入</button>
                            </span>
                            <input type="text" class="form-control" id="exmaplePrependButton">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="examplePrependDropdown">缴费方式</label>

                        <div class="input-group">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                    Action <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="main-box">
            <header class="main-box-header clearfix">
                <h2>缴费信息</h2>
            </header>
            <div class="main-box-body clearfix">
                <div class="row">
                    <div class="form-group">
                        <label for="maskedDate">收费模式</label>

                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input type="text" class="form-control" id="maskedDate">
                        </div>
                        <span class="help-block">ex. 99/99/9999</span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="maskedPhone">预交轮数</label>

                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                            <input type="text" class="form-control" id="maskedPhone">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="maskedPhoneExt">开始时间</label>

                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-mobile-phone"></i></span>
                            <input type="text" class="form-control" id="maskedPhoneExt">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="maskedTax">结束时间</label>

                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-money"></i></span>
                            <input type="text" class="form-control" id="maskedTax">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="exampleAppPre">应收金额</label>
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input type="text" class="form-control" id="exampleAppPre">
                            <span class="input-group-addon">.00</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="exampleAppPre">实收金额</label>
                        <div class="input-group">
                            <span class="input-group-addon">$</span>
                            <input type="text" class="form-control" id="exampleAppPre">
                            <span class="input-group-addon">.00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>