<div class="col-lg-12" ng-controller="ParkReportCtrl">
    <!--&lt;!&ndash;面包屑导航&ndash;&gt;-->
    <!--<ol class="breadcrumb" style="margin-bottom: 10px">-->
        <!--<li><a href="#/main">主页</a></li>-->
        <!--<li>停车场报表</li>-->
        <!--<li>{{submeau.name}}</li>-->
        <!--<li class="active"><span>{{currentTab.name}}</span></li>-->
    <!--</ol>-->
    <!--tab-->
    <div class="main-box clearfix">
        <div class="tabs-wrapper profile-tabs">
            <ul class="nav nav-tabs">
                <li ng-repeat="tab in tabMeta" ng-class="{active:tab==currentTab}">
                    <a data-toggle="tab" ng-click="onClickTab(tab)">{{tab.name}}</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="col-lg-12 tab-pane active">
                    <div class="main-box-body clearfix">
                        <h3 style="margin-top: 10px"><span>查询条件</span></h3>
                        <form class="form-inline" role="form">
                            <div class="form-group" ng-repeat="option in currentTab.query_option"
                                 style="margin-right: 10px; margin-bottom: 5px">
                                <!-- no group -->
                                <label>{{option.label}}</label>
                                <span ng-switch on="option.type">
                                    <span ng-switch-when="default_select">
                                        <select class="form-control">
                                            <option ng-repeat="o in option.options">{{o}}</option>
                                        </select>
                                    </span>
                                    <span ng-switch-when="input">
                                         <input type="password" class="form-control">
                                    </span>
                                    <span ng-switch-when="date_picker">
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="datepickerDate">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </span>
                                    <!-- group -->
                                    <span ng-switch-when="group">
                                        <div class="form-group" ng-repeat="content in option.contents" style="margin-bottom: 5px">
                                            <label>{{content.label}}</label>
                                            <span ng-switch on="content.type">
                                                <span ng-switch-when="default_select">
                                                <select class="form-control">
                                                    <option ng-repeat="opt in content.options">{{opt}}</option>
                                                </select>
                                                </span>
                                                <span ng-switch-when="input">
                                                     <input type="text" class="form-control">
                                                </span>
                                                <span ng-switch-when="date_picker">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id="datepickerDate">
                                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                </div>
                                                </span>
                                            </span>
                                        </div>
                                    </span>
                                </span>
                            </div>
                            <button type="submit" class="btn btn-success pull-right">查询</button>
                        </form>

                        <h3 style="margin: 10px"><span>查询结果</span></h3>

                        <div class="table-responsive">
                            <div id="table-example-fixed_wrapper" class="dataTables_wrapper no-footer">
                                <table id="table-example-fixed"
                                       class="table table-hover dataTable no-footer" role="grid">
                                    <thead>
                                    <tr role="row">
                                        <th class="sorting_asc"
                                            ng-repeat="table_head in currentTab.view_option.table.table_head"
                                            aria-controls="table-example-fixed" rowspan="1" colspan="1">
                                            {{table_head}}
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr role="row" class="even">
                                        <td ng-repeat="table_head in currentTab.view_option.table.table_head">
                                            value {{table_head}}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <!--pager-->
                                <div class="dataTables_paginate dataTables_length"
                                     id="table-example-fixed_paginate">
                                    <a
                                            class="paginate_button previous disabled"
                                            aria-controls="table-example-fixed"
                                            data-dt-idx="0" tabindex="0"
                                            id="table-example-fixed_previous">上一页</a>
                            <span>
                            <a class="paginate_button current" aria-controls="table-example-fixed"
                               data-dt-idx="1" tabindex="0">1</a>
                            <a class="paginate_button " aria-controls="table-example-fixed"
                               data-dt-idx="2" tabindex="0">2</a>
                            </span>
                                    <a class="paginate_button next" aria-controls="table-example-fixed"
                                       data-dt-idx="3"
                                       tabindex="0"
                                       id="table-example-fixed_next">下一页</a>
                                </div>
                                <!--show N records-->
                                <div class="dataTables_length pull-right" id="table-example-fixed_length">
                                    <label>
                                        Show
                                        <select name="table-example-fixed_length"
                                                aria-controls="table-example-fixed"
                                                class="">
                                            <option value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                        entries
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>