<div class="col-lg-12" ng-controller="ParkReportCtrl">
    <div class="main-box clearfix">
        <div class="tabs-wrapper profile-tabs">
            <ul class="nav nav-tabs">
                <li ng-repeat="tab in tabMeta" ng-class="{active:tab==currentTab}">
                    <a data-toggle="tab" ng-click="onClickTab(tab)">{{tab.name}}</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="col-lg-12 tab-pane active">
                    <div class="main-box-body clearfix">
                        <h3 style="margin-top: 10px"><span>查询条件</span></h3>

                        <form class="form-inline" role="form" ng-submit="onSubmit()">
                            <div class="form-group" ng-repeat="option in currentTab.query_option"
                                 style="margin-right: 10px; margin-bottom: 5px">
                                <!-- no group -->
                                <label>{{option.label}}</label>
                                <span ng-switch on="option.type">
                                    <span ng-switch-when="default_select">
                                        <select class="form-control" ng-model="$parent.query[option.key]"
                                                ng-options="obj.id as obj.label for obj in option.options">
                                        </select>
                                    </span>
                                    <span ng-switch-when="input">
                                         <input type="text" class="form-control" ng-model="$parent.query[option.key]">
                                    </span>
                                    <span ng-switch-when="date_picker">
                                        <div class="input-group date" id="datetimepicker">
                                            <input type="date" class="form-control"
                                                   ng-model="$parent.query[option.key]">
                                        </div>
                                    </span>
                                    <!-- group -->
                                    <span ng-switch-when="group">
                                        <div class="form-group" ng-repeat="content in option.contents"
                                             style="margin-bottom: 5px">
                                            <label>{{content.label}}</label>
                                            <span ng-switch on="content.type">
                                                <span ng-switch-when="default_select">
                                                <select class="form-control" ng-model="$parent.query[content.key]"
                                                        ng-options="obj.id as obj.label for obj in content.options">
                                                </select>
                                                </span>
                                                <span ng-switch-when="input">
                                                     <input type="text" class="form-control"
                                                            ng-model="$parent.query[content.key]">
                                                </span>
                                                <span ng-switch-when="date_picker">
                                                <div class="input-group">
                                                    <input type="date" class="form-control" id="datetimepicker"
                                                           ng-model="$parent.query[content.key]">
                                                </div>
                                                </span>
                                            </span>
                                        </div>
                                    </span>
                                </span>
                            </div>
                            <button type="submit" class="btn btn-success pull-right">查询</button>
                        </form>

                        <h3 style="margin: 10px"><span>查询结果</span></h3>

                        <div class="table-responsive">
                            <div id="table-example-fixed_wrapper" class="dataTables_wrapper no-footer">
                                <table class="table table-hover dataTable no-footer" role="grid">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_asc"
                                                ng-repeat="table_head in currentTab.view_option.table.table_head"
                                                aria-controls="table-example-fixed" rowspan="1" colspan="1">
                                                {{table_head}}
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr role="row"
                                            ng-repeat="line in query_result[submeau.id + currentTab.id]
                                            |paging:pager.index:pager.pageSize">
                                            <td ng-repeat="table_head in currentTab.view_option.table.table_head"
                                                    title="{{line[table_head]}}">
                                                {{line[table_head]}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <!--pager-->
                                <div ng-show="showPagination(query_result[submeau.id + currentTab.id].length)">
                                    <pagination ng-model="pager.index" max-size="10"
                                                items-per-page="pager.pageSize" class="pagination"
                                                total-items="query_result[submeau.id + currentTab.id].length"
                                                boundary-links="true">
                                    </pagination>
                                    <!--show N records-->
                                    <div class="dataTables_length pull-right" id="table-example-fixed_length"
                                            >
                                        <label>
                                            Show
                                            <select name="table-example-fixed_length"
                                                    ng-model="pager.pageSize"
                                                    ng-options="obj as obj for obj in entries_options">
                                            </select>
                                            entries
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>