<form class="form-inline" role="form" ng-submit="onSubmit()">
    <div class="form-group" ng-repeat="option in options"
         style="margin-right: 10px; margin-bottom: 5px">
        <!-- no group -->
        <label>{{option.label}}</label>
            <span ng-switch on="option.type">
                <span ng-switch-when="default_select">
                    <select class="form-control" ng-model="$parent.query[option.key]"
                            ng-options="obj.id as obj.label for obj in option.options">
                    </select>
                </span>
                <span ng-switch-when="input">
                     <input type="text" class="form-control" ng-model="$parent.query[option.key]">
                </span>
                <span ng-switch-when="date_picker">
                    <div class="input-group date" id="datetimepicker">
                        <input type="date" class="form-control"
                               ng-model="$parent.query[option.key]">
                    </div>
                </span>
                <!-- group -->
                <span ng-switch-when="group">
                    <div class="form-group" ng-repeat="content in option.contents"
                         style="margin-bottom: 5px">
                        <label>{{content.label}}</label>
                        <span ng-switch on="content.type">
                            <span ng-switch-when="default_select">
                            <select class="form-control" ng-model="$parent.query[content.key]"
                                    ng-options="obj.id as obj.label for obj in content.options">
                            </select>
                            </span>
                            <span ng-switch-when="input">
                                 <input type="text" class="form-control"
                                        ng-model="$parent.query[content.key]">
                            </span>
                            <span ng-switch-when="date_picker">
                            <div class="input-group">
                                <input type="date" class="form-control" id="datetimepicker"
                                       ng-model="$parent.query[content.key]">
                            </div>
                            </span>
                        </span>
                    </div>
                </span>
            </span>
    </div>
    <button type="submit" class="btn btn-success pull-right">查询</button>
</form>